<main>
  <h1><%= timed_greeting %>, <%= current_user.first_name %></h1>

  <nav>
    <%= link_to "Resultados", '#' %>
    <%= link_to "Vacantes", '#' %>
    <%= link_to "Exámenes", '#' %>
    <%= link_to "Usuarios", '#' %>
    <%= link_to "Salir", logout_path %>
  </nav>
</main>
