<main>
  <h1>Crear Examen</h1>

  <%= form_for @exam do |f| %>
    <%= render "shared/errors", object: @exam %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :passing_grade %>
      <%= f.number_field :passing_grade, step: 1, min: 0, max: 100 %>
    </div>

    <%= f.button %>
  <% end %>
</main>
