<header>
  <hr>
  <%= link_to "Exámenes Talento", root_path, class: 'main-title' %>
  <nav>
    <%= link_to "Resultados", '#' %>
    <%= link_to "Vacantes", openings_path %>
    <%= link_to "Exámenes", exams_path %>
    <%= link_to "Usuarios", users_path %>
    <%= link_to "Salir", logout_path %>
  </nav>
</header>
